
menu{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    align-items: center;
    background-color:transparent;
    height: 60px;
    transition: all 0.3s;

}
body{
    background-image:url(../imagenes/deb5fe1db9a3893118dc0357b1c87040.jpg) ;
    
}
a{
    color: white;
    font-size: 20px;
}
header h1{
    font-size: 5vw;
    margin: 2px;
    text-align: center;
    
    
}
header img {

    max-width: 250px;
    max-height: 250px;
    border: 4px solid white;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    transition: all 0.3s;

}
section{
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}